*.ini
*.wlf
work
work/*
transcript
gf22/*
gf22
wl*
*.txt
src/axi_dma_precise_trans_id_handler.sv
src/tdma_retrofit/*
src/tdma_retrofit
test/*
!test/axi_dma_tb.sv
!test/ci_wave.do
!test/fixture_oned_axi_dma.sv
scripts/compile_bringup.tcl

