*.bin
*.mcs
/install/
output/*
local.mk
local.cfg
openmp-examples/darknet/Makefile_*
openmp-examples/darknet/*bjoernf
openmp-examples/darknet/*.gch
openmp-examples/darknet/*bak*
openmp-examples/darknet/*_mmaxim
openmp-examples/darknet/darknet_*
openmp-examples/darknet/darknet
openmp-examples/darknet/*.txt
openmp-examples/darknet/*.log
interference-experiments/pipeline_bak/
openmp-examples/baby_gemm/baby_gemm
.*
!.gitignore
