/* #include "xilinx/zynqmp-zcu102.dts" */

/ {
    reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        /* contiguous L3 memory for PULP: last 128MiB of DRAM */
        pulp_reserved: pulp_l3_mem@78000000 {
            compatible = "pulp,bigpulp";
            no-map;
            reg = <0x0 0x78000000 0x0 0x8000000>;
        };
    };

    fclk0 {
        status = "okay";
        compatible = "ikwzm,fclkcfg-0.10.a";
        clocks = <&clkc 71>;
        insert-rate = "50000000";
        insert-enable = <1>;
        remove-rate = "1000000";
        remove-enable = <0>;
    };
};

&amba {
    pulp: pulp@a0000000 {
        memory-region = <&pulp_reserved>;
        compatible = "pulp,bigpulp";
        reg = <0x0 0xa0000000 0x0 0x10000000
               0x0 0xa8000000 0x0 0x10000>;
        interrupt-parent = <&gic>;
        interrupts = <0 89 1>;
        iommus = <&smmu 0x280>, <&smmu 0x281>, <&smmu 0x282>; /* FIXME: check this */
    };
};

&gem3 {
    phy-handle = <&phyc>;
    phyc: phy@c {
        reg = <0xc>;
        ti,rx-internal-delay=<0x8>;
        ti,tx-internal-delay=<0xa>;
        ti,fifo-depth=<0x1>;
        ti,rxctrl-strap-worka;
    };
};

/* FIXME: test why this hangs */
/*&smmu {
    status = "okay";
};*/
