# Host
BR2_CCACHE=y
BR2_CCACHE_USE_BASEDIR=n

# Architecture
BR2_riscv=y
BR2_riscv_custom=y
BR2_RISCV_ISA_CUSTOM_RVM=y
BR2_RISCV_ISA_CUSTOM_RVC=y

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(RISCV)"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="riscv64-hero-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_GCC_8=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_20=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

# System
BR2_TARGET_GENERIC_HOSTNAME="hero"
BR2_TARGET_GENERIC_ISSUE="Welcome to HERO"
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_TARGET_GENERIC_PASSWD_METHOD="sha-512"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_SKELETON_DEFAULT=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_HERO_PATH)/board/common/overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_HERO_PATH)/board/common/post_build.sh $(BR2_EXTERNAL_HERO_PATH)/board/hero/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_HERO_PATH)/board/ariane/post_image.sh"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyPS0"
BR2_TARGET_GENERIC_GETTY_BAUDRATE="115200"
BR2_TARGET_GENERIC_GETTY_TERM="vt100"
BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y

# Bootloader
BR2_PACKAGE_RISCV_PK_ARIANE=y
BR2_PACKAGE_RISCV_PK_ARIANE_LOGO="$(BR2_EXTERNAL_HERO_PATH)/board/common/boot_logo.txt"

# Kernel
# NOTE: should be the same kernel as in Ariane config to use the kernel modules in external mount
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.20.8"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_HERO_PATH)/board/ariane/linux-patches/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_HERO_PATH)/board/common/linux.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_HERO_PATH)/board/ariane/linux-extras.config"
BR2_LINUX_KERNEL_VMLINUX=y

# Skeleton and BusyBox
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_HERO_PATH)/board/hero/busybox.config"

# Host packages
BR2_PACKAGE_HOST_CMAKE=y
BR2_PACKAGE_HOST_PKGCONF=y

# Local packages
BR2_HERO_PLATFORM="ARIANE"
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_HERO_PATH)/local.mk"
BR2_PACKAGE_ARIANE_SUPPORT=y
BR2_PACKAGE_ARIANE_SUPPORT_RANDOM_INIT=y
BR2_PACKAGE_LIBPULP=y
BR2_PACKAGE_PULP_DRIVER=y
BR2_PACKAGE_LIBHERO_TARGET=y
BR2_PACKAGE_HERO_APPS=y
BR2_PACKAGE_HERO_OPENMP=y

# Generic packages
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_LIBNFS=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_IFUPDOWN_SCRIPTS=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_DHRYSTONE=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_NETPERF=y
BR2_PACKAGE_WHETSTONE=y
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_FSCK=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_LIBZLIB=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBOPENSSL=y
BR2_PACKAGE_LIBFUSE=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_NSS_MDNS=y
BR2_PACKAGE_LIBDAEMON=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_NCURSES_ADDITIONAL_TERMINFO=""
BR2_PACKAGE_PCRE=y
BR2_PACKAGE_PCRE_UTF=y
BR2_PACKAGE_PCRE_UCP=y
BR2_PACKAGE_POPT=y
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_AUTOIPD=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_ETHTOOL_PRETTY_PRINT=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_LIBBLKID=y
BR2_PACKAGE_UTIL_LINUX_LIBMOUNT=y
BR2_PACKAGE_UTIL_LINUX_LIBUUID=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_NANO_TINY=y
BR2_PACKAGE_UEMACS=y
