# Architecture
BR2_riscv=y
BR2_riscv_custom=y
BR2_RISCV_ISA_CUSTOM_RVM=y
BR2_RISCV_ISA_CUSTOM_RVC=y

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(HERO_INSTALL)"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="riscv64-unknown-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_GCC_8=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_20=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

# System
BR2_TARGET_GENERIC_HOSTNAME="ariane"
BR2_TARGET_GENERIC_ISSUE="Welcome to Ariane"
BR2_SYSTEM_DHCP="eth0"
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_HERO_PATH)/board/common/overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_HERO_PATH)/board/common/post_build.sh $(BR2_EXTERNAL_HERO_PATH)/board/rv/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_HERO_PATH)/board/diggenesys2/post_image.sh"

# Bootloader
# FIXME: this should be a boot loader target
BR2_PACKAGE_RISCV_PK_ARIANE=y
BR2_PACKAGE_RISCV_PK_ARIANE_LOGO="$(BR2_EXTERNAL_HERO_PATH)/board/common/boot_logo.txt"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.20.8"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_HERO_PATH)/board/diggenesys2/linux-patches/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_HERO_PATH)/board/rv/linux.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_HERO_PATH)/board/diggenesys2/linux-extras.config"
BR2_LINUX_KERNEL_VMLINUX=y

# BusyBox
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_HERO_PATH)/board/common/busybox.config"

# Local packages
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_HERO_PATH)/local.mk"
BR2_PACKAGE_ARIANE_SUPPORT=y
BR2_PACKAGE_ARIANE_SUPPORT_RANDOM_INIT=y
BR2_PACKAGE_VITETRIS=y

# Generic packages
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_LIBNFS=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_IFUPDOWN_SCRIPTS=y
