*~
__pycache__
/build
/libs
/pkg
/platform
/runtime/*
!/runtime/archi
!/runtime/archi-host
!/runtime/hal
!/runtime/libomptarget-pulp-rtl
!/runtime/libvmm
!/runtime/pulp-rt
/sourceme.*
/testset.cfg
/tools
/apps/
/env/
/examples/
/rtl/
/tests/
