# General
CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_RM_RF_PREFIX_DIR=n
CT_TARGET_VENDOR="unknown"

# Arch
CT_ARCH_RISCV=y
CT_DEMULTILIB=y # WARNING: done by buildscript as crosstool does not understand structure
CT_ARCH_USE_MMU=y
CT_ARCH_64=y
CT_ARCH_ARCH="rv64imac"
CT_ARCH_ABI="lp64"

# Binutils
CT_BINUTILS_V_2_32=y

# Libc
CT_LIBC_GLIBC=y
CT_GLIBC_V_2_29=y

# Compiler
CT_GCC_V_8=y
CT_CC_LANG_CXX=y

# Linux
CT_KERNEL_LINUX=y
CT_LINUX_V_4_20=y

# Host companion tools
CT_COMP_TOOLS_FOR_HOST=y
CT_COMP_TOOLS_AUTOCONF=y
CT_COMP_TOOLS_AUTOMAKE=y
CT_COMP_TOOLS_DTC=y
CT_COMP_TOOLS_LIBTOOL=y
CT_COMP_TOOLS_M4=y
CT_COMP_TOOLS_MAKE=y
CT_COMP_TOOLS_PKGCONF=y # WARNING: pkgconf is installed by build script as crosstool does not build it
CT_ZLIB_NEEDED=y
