# General
CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_RM_RF_PREFIX_DIR=n
CT_TARGET_VENDOR="none"

# Arch
CT_ARCH_ARM=y
CT_DEMULTILIB=y
CT_ARCH_USE_MMU=y
CT_ARCH_64=y

# Binutils
CT_BINUTILS_V_2_32=y

# Libc
CT_LIBC_NEWLIB=y
CT_NEWLIB_V_3_1=y

# Compiler
CT_GCC_V_8=y
CT_CC_LANG_CXX=y

# No OS
CT_KERNEL_BARE_METAL=y
