# General
CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_RM_RF_PREFIX_DIR=n
CT_TARGET_VENDOR="unknown" # pulp-sdk expects unknown

# Arch
CT_ARCH_RISCV=y
CT_MULTILIB=y
CT_DEMULTILIB=n
CT_ARCH_USE_MMU=y
CT_ARCH_32=y
CT_ARCH_ARCH="rv32imacxhua20"
CT_ARCH_ABI="ilp32"
CT_TARGET_CFLAGS="-Os -mcmodel=medlow"

# Patches
CT_PATCH_LOCAL_BUNDLED=y
CT_PATCH_USE_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches/"

# Binutils
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_VCS_git=y
CT_BINUTILS_DEVEL_URL="https://github.com/pulp-platform/pulp-riscv-binutils-gdb.git"
CT_BINUTILS_DEVEL_REVISION="a58e6c3fcd406915ca6e4ab654a48def358de903"
CT_BINUTILS_V_2_28=y

# Libc
CT_LIBC_NEWLIB=y
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_VCS_git=y
CT_NEWLIB_DEVEL_URL="https://github.com/pulp-platform/pulp-riscv-newlib.git"
CT_NEWLIB_DEVEL_REVISION="1e52935101d096bb2e9381c7b131d6b976f0acd9"
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
CT_LIBC_NEWLIB_IO_LDBL=y
CT_NEWLIB_V_2_5=y

# Compiler
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_VCS_git=y
CT_GCC_DEVEL_URL="https://github.com/pulp-platform/pulp-riscv-gcc.git"
CT_GCC_DEVEL_REVISION="bfb8fa748e5d0c79b0958c7870cd42a4923c6d9f"
CT_CC_GCC_USE_GRAPHITE=n
CT_CC_LANG_CXX=y
CT_CC_GCC_SYSTEM_ZLIB=y
CT_GCC_V_7=y

# GDB
CT_DEBUG_GDB=y
CT_GDB_SRC_DEVEL=y
CT_GDB_DEVEL_VCS_git=y
CT_GDB_DEVEL_URL="https://github.com/pulp-platform/pulp-riscv-binutils-gdb.git"
CT_GDB_DEVEL_REVISION="a58e6c3fcd406915ca6e4ab654a48def358de903"
CT_GDB_VERSION="7.12.50"
CT_GDB_7_12_or_later=y
CT_GDB_8_0_or_later=n
CT_GDB_later_than_8_0=n
CT_GDB_REQUIRE_8_0_or_later=n
CT_GDB_CROSS=y
CT_GDB_CROSS_PYTHON=n
CT_GDB_CROSS_EXTRA_CONFIG_ARRAY="--with-guile=no"

# Companion libraries
CT_COMP_LIBS_ISL=n

# No OS
CT_KERNEL_BARE_METAL=y

# Host
CT_ZLIB_NEEDED=y
